{% extends 'base.html' %}

<style>
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        background-image: url();
        background-position: right top;
        background-repeat: no-repeat, no-repeat;
       
    }
    div, p{
        margin-top: 3%; 
        margin-bottom: 1%;
        border-left: 100%;
        border-right: 100%; 
        border-style: inset;
        text-align: center;
        background-color: aliceblue;
    }
    label{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;          
    }
    #h3{
        margin-top: 5%;
        margin-bottom: 3%;
    
    }
    h4{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 3%;
        margin-bottom: 0%;       
    }
    #puntaje{
        margin-top: 2%;
        margin-bottom: 2%;
        border-left: 200%;
        border-right: 200%; 
        border-style: inset;
        text-align: left;
        background-color: aliceblue;
    }
    button{
        margin: 2% 2% 2% 2%;
        padding: 0.5% 1% 0.5% 1%;
        border-radius: 15px;
        background-color: rgb(188, 190, 192);
    }
    nav{
        background-color: #378fd9;
        padding: 1%;
        width: 100%;
        font-size: 100%;       
    }
</style>    


{% block contenido  %}

<h1> BIENVENIDO A PORTAL EMPLEADO</h1>
<form action="" method="post">

<center><h1>Información Personal</h1></center>
<center>
       <table class="">
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Celular</th>
         </tr>

        {% for row in rows %}

        <tr>
            <td>{{row["id_cedula"]}}</td>
            <td>{{row["nombre"]}}</td>
            <td>{{row["apellido"]}}</td>
            <td>{{row["direccion"]}}</td>
            <td>{{row["correo"]}}</td>
            <td>{{row["celular"]}}</td>

        </tr>
        {% endfor %}   
        
         </table>

</center>
</form>

<form action="" method="post">

    <center><h1>Información Laboral</h1></center>
    <center>

        <table class="">
            <tr>
                <th>Cargo</th>
                <th>Dependencia</th>
                <th>Tipo de contrato</th>
                <th>Fecha de ingreso</th>
                <th>Fecha de Terminación</th>
    
            </tr>
        <tr>
        {% for row in rows %}
        

        <td>{{row["salario"]}}</td>
        <td>{{row["nombre_cargo"]}}</td>
        <td>{{row["nombre_dependencia"]}}</td>
        <td>{{row["nombre_tipo_contrato"]}}</td>
        <td>{{row["fecha_ingreso"]}}</td>
        <td>{{row["fecha_termino"]}}</td>

        {% endfor %} 
        </tr>
  
  </form>

    <form action="/" method="get">
    <input type="submit" value="cerrar sesion" title="cerrar sesion" class="btn btn-primary">
    </form>



{% endblock  %}

